@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

:root {
  --mainColor: #212529;
  --mainBtnColor: #343a40;
  --BtnFocusColor: #495057;
  --textColor: #6c757d;
  --secondaryColor: #dee2e6;
}

::selection {
  color: var(--bs-muted);
  background-color: #292c35;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

#my-scrollbar {
  width: 100%;
  height: 100vh;
  overflow: auto;

  background-color: #201f23;
}

body {
  background-color: var(--mainColor);
}

/* Start Carousel Section  */

.canvas-container {
  height: 400px;
  z-index: 0;
}

.prjimgeffects {
  width: 40%;
  height: 80%;
  border-radius: 40px;
  /* background-image: url("../img/test/prj1.png"); */
  background-size: cover;
  background-position: center;

  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (width <= 900px) {
  .prjimgeffects {
    width: 90%;
    height: 60%;
  }
}

.demobtns,
.githubbtns {
  width: auto;
  bottom: 20px;
  right: 20px;
  position: absolute;

  font-size: 14px;
  color: var(--secondaryColor);
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: var(--mainBtnColor);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);

  transition: all 0.3s ease-in-out;
}

.githubbtns {
  right: 110px;
}

.demobtns:hover,
.githubbtns:hover {
  color: var(--secondaryColor);
  transform: translateY(-10px);
  background-color: var(--BtnFocusColor);
}

/* End Carousel Section  */

.skilllogos-container {
  cursor: default;
  border-radius: 40px;
  padding: 10px 0;
  background-color: var(--mainBtnColor);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
}

.skilllogos-container li {
  color: var(--secondaryColor);
}

.colorboxs {
  min-width: 19.5%;
  height: 200px;
  background-color: red;
  border: 2px solid var(--textColor);

  transition: all 0.3s ease-in-out;
}

@media (max-width: 675px) {
  .skilllogos-container li {
    font-size: 12px;
  }

  .colorboxs {
    height: 100px;
  }
}

.colorboxs:nth-of-type(1) {
  background-color: var(--mainColor);
}

.colorboxs:nth-of-type(2) {
  background-color: var(--mainBtnColor);
}

.colorboxs:nth-of-type(3) {
  background-color: var(--BtnFocusColor);
}

.colorboxs:nth-of-type(4) {
  background-color: var(--textColor);
}

.colorboxs:nth-of-type(5) {
  background-color: var(--secondaryColor);
}

.colorboxs:hover {
  transform: scaleY(1.1);
}

.colorboxs:hover p {
  opacity: 0.5;
}

.colorboxs p {
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: #222;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.titletexts {
  color: var(--textColor);
}

.abouttext {
  color: var(--textColor);
}

.btncv {
  color: var(--secondaryColor);
  font-size: 14px;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 20px;
  background: var(--mainBtnColor);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);

  transition: all 0.3s ease-in-out;
}

.btncv:hover {
  color: var(--secondaryColor);
  transform: translateY(-10px);
  background-color: var(--BtnFocusColor);
}

/* Start Granim Area  */

/* End Granim Area  */
