@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

:root {
  --mainColor: #212529;
  --mainBtnColor: #343a40;
  --BtnFocusColor: #495057;
  --textColor: #6c757d;
  --secondaryColor: #dee2e6;
}

::selection {
  color: var(--bs-muted);
  background-color: #292c35;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

/* #my-scrollbar {
  width: 100vw;
  height: auto;
  overflow: auto;
} */

body {
  background-color: var(--mainColor);
}

.prjimgeffects {
  max-width: 650px;
  min-width: 350px;
  max-height: 350px;
  min-height: 50px;
  /* border: 2px solid #fff; */
  border-radius: 40px;
}

.prjimgbgs {
  opacity: 1;
  position: relative;
  overflow: hidden;

  /* animation: prjimgbgsani 6s linear infinite; */
}

.prjimgbgs.active {
  /* animation: prjimgbgsani 6.2s linear infinite; */
}

/* @keyframes prjimgbgsani {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.progressbars {
  width: 50%;
  height: 5px;
  background-color: var(--mainColor);
  border-radius: 40px;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.fluids {
  width: 0;
  height: 5px;
  background-color: var(--secondaryColor);
  border-radius: 40px;

  animation: fluidsani 6s ease-in-out infinite;
}

@keyframes fluidsani {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.demobtns,
.githubbtns {
  width: auto;
  bottom: 20px;
  right: 10px;
  position: absolute;

  font-size: 14px;
  color: var(--secondaryColor);
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: var(--mainBtnColor);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);

  transition: all 0.3s ease-in-out;
}

.githubbtns {
  right: 100px;
}

.demobtns:hover,
.githubbtns:hover {
  color: var(--secondaryColor);
  transform: translateY(-10px);
  background-color: var(--BtnFocusColor);
}

.indicator-btns {
  font-size: 28px;
  background: none;
  outline: none;
  border: none;
  color: #fff;

  position: absolute;
  transform: translateY(-50%);
}

.indicator-btns:nth-of-type(1) {
  top: 50%;
  left: 50px;
}

.indicator-btns:nth-of-type(2) {
  top: 50%;
  right: 50px;
}

.skilllogos-container {
  cursor: default;
  border-radius: 40px;
  padding: 10px 0;
  background-color: var(--mainBtnColor);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
}

.skilllogos-container li {
  color: var(--secondaryColor);
}

.colorboxs {
  min-width: 19.5%;
  height: 200px;
  background-color: red;
  border: 2px solid var(--textColor);

  transition: all 0.3s ease-in-out;
}

@media (max-width: 675px) {
  .skilllogos-container li {
    font-size: 12px;
  }

  .colorboxs {
    height: 100px;
  }
}

.colorboxs:nth-of-type(1) {
  background-color: var(--mainColor);
}

.colorboxs:nth-of-type(2) {
  background-color: var(--mainBtnColor);
}

.colorboxs:nth-of-type(3) {
  background-color: var(--BtnFocusColor);
}

.colorboxs:nth-of-type(4) {
  background-color: var(--textColor);
}

.colorboxs:nth-of-type(5) {
  background-color: var(--secondaryColor);
}

.colorboxs:hover {
  transform: scaleY(1.1);
}

.colorboxs:hover p {
  opacity: 0.5;
}

.colorboxs p {
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: #222;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.titletexts {
  color: var(--textColor);
}

.abouttext {
  color: var(--textColor);
}

.btncv {
  color: var(--secondaryColor);
  font-size: 14px;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 20px;
  background: var(--mainBtnColor);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);

  transition: all 0.3s ease-in-out;
}

.btncv:hover {
  color: var(--secondaryColor);
  transform: translateY(-10px);
  background-color: var(--BtnFocusColor);
}
