@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  /* background: linear-gradient(to top, #eb3349, #f45c43); */

  background: rgba(146, 146, 146, 0.1);
}

* {
  font-family: "Nunito Sans", sans-serif;
}

/* #my-scrollbar {
  width: 100vw;
  height: 200vh;
  overflow: auto;
} */

#home {
  background-color: #201f23;
  position: relative;

  /* background-image: url("../img/banner(1).png"); */
  background-position: center;
  background-size: 170%;
  background-repeat: no-repeat;
  /* background-size: cover; */

  animation: homeani 0.5s ease-in-out backwards;

  overflow: hidden;
}

@keyframes homeani {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 170%;
  }
}

.planet {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 576px) {
  .planet {
    width: 400px;
    height: 200px;
    top: 50px;
  }
}

.hamburgerbtns {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 5px #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 14px;
  right: 20px;

  display: grid;
  place-items: center;

  z-index: 1;

  transition: all 0.3s ease-out;

  animation: hamburgerani 0.5s ease-in;
}

@keyframes hamburgerani {
  0% {
    opacity: 0;
    transform: scale(2);
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hamburgerbtns:hover {
  scale: 1.25;
}

.hamburgerbtns.active {
  rotate: 90deg;
}

.top.active {
  rotate: -45deg;
  transform: translate(-2px, -3px);
  transform-origin: right;
}

.mid.active {
  /* rotate: 1turn;
  transform-origin: center;
  scale: 0; */

  /* rotate: -45deg;
  transform: translate(-0px, -7px);
  transform-origin: right;
  opacity: 0; */

  transform: translateX(20px);
  opacity: 0;
}

.bottom.active {
  rotate: 45deg;
  transform: translate(-2px, 3px);
  transform-origin: right;
}

.hamburger {
  position: relative;
}

.hamburgerbtns .bar {
  width: 25px;
  height: 4px;
  background-color: #201f23;
  border-radius: 30px;
  margin: 4px 0;

  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.menubtncontainer a {
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-radius: 30px;
  padding: 4px 8px;

  position: fixed;
  bottom: 20px;
  right: 13px;

  z-index: 1;
  /* rotate: 90deg; */

  transition: all 0.4s;

  opacity: 0;

  pointer-events: none;
}

#abtn.active {
  opacity: 1;
  pointer-events: auto;
}

#abtn:hover {
  box-shadow: 0 0 5px #fff;
  scale: 1.1;
}

.homebtn.active {
  transform: translateY(-145px);
}

.aboutbtn.active {
  transform: translateY(-115px);
  transition: 0.2;
}

.prjbtn.active {
  transform: translateY(-85px);
  transition: 0.4;
}

.contactbtn.active {
  transform: translateY(-55px);
  transition: 0.6;
}

.bannercontainers {
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.nametext {
  border-radius: 40px;
  animation: nametextani 0.5s ease backwards;
}

@keyframes nametextani {
  0% {
    scale: 0;
    opacity: 0;
  }

  /* 70% {
    scale: 1.5;
  } */

  100% {
    opacity: 1;
    scale: 1;
  }
}

.lhtext {
  text-shadow: 4px 4px 0px #000, -4px 0 0px #000, 7px 4px 0 #fff;
}

.zzz-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.zzz {
  width: 15px;
  margin: 0 10px;
  animation: barani 0.8s ease-in-out backwards;
  border-radius: 30px;
}

@media (max-width: 576px) {
  .zzz {
    width: 5px;
  }
}

.zzz:nth-of-type(8),
.zzz:nth-of-type(12) {
  height: 26%;
  background: linear-gradient(to top, #614385, #516395);
  animation-delay: 0.2s;
}

.zzz:nth-of-type(7) {
  height: 30%;
  background: linear-gradient(to top, #7b4397, #dc2430);
  animation-delay: 0.4s;
}

.zzz:nth-of-type(10) {
  height: 32%;
  background: linear-gradient(to top, #7b4397, #dc2430);
  animation-delay: 0.2s;
}

.zzz:nth-of-type(6),
.zzz:nth-of-type(14) {
  height: 22%;
  background: linear-gradient(to top, #eb3349, #f45c43);
  animation-delay: 0.4s;
}

.zzz:nth-of-type(5) {
  height: 25%;
  background: linear-gradient(to top, #cc2b5e, #753a88);
}

.zzz:nth-of-type(9) {
  height: 25%;
  background: linear-gradient(to top, #cc2b5e, #753a88);
  animation-delay: 0.1s;
}

.zzz:nth-of-type(4),
.zzz:nth-of-type(16) {
  height: 15%;
  background: linear-gradient(to top, #2c3e50, #bdc3c7);
  animation-delay: 0.6s;
}

.zzz:nth-of-type(3),
.zzz:nth-of-type(11) {
  height: 10%;
  background: linear-gradient(to top, #ffafbd, #ffc3a0);
  animation-delay: 0.8s;
}

.zzz:nth-of-type(2),
.zzz:nth-of-type(15) {
  height: 6%;
  background: linear-gradient(to top, #ee9ca7, #ffdde1);
  animation-delay: 0.5s;
}

.zzz:nth-of-type(1),
.zzz:nth-of-type(13) {
  height: 12%;
  background: linear-gradient(to top, #eecda3, #ef629f);
  animation-delay: 0.2s;
}

@keyframes barani {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Start About Section */

#about {
  display: grid;
  place-items: center;

  background-color: #201f23;
  background-image: url("../img/about(1).png");
  background-position: center;
  background-size: cover;
  /* background-size: 140%; */
  background-repeat: no-repeat;

  overflow: hidden;
}

.box {
  padding: 20px 40px;
  border-radius: 40px;
  /* background-color: #201f23; */
  background: rgba(146, 146, 146, 0.08);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);

  /* box-shadow: 0 8px 32px 0 rgba(146, 146, 146, 0.08); */

  transition: all 0.2s ease-in;
}

/* .box:hover {
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
} */

.about-socials a {
  display: block;
  text-decoration: none;
  font-size: 28px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  padding: 10px;
  background: rgba(146, 146, 146, 0.1);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);

  /* box-shadow: 0 8px 32px 0 rgba(146, 146, 146, 0.1); */

  position: relative;

  /* overflow: hidden; */

  transition: all 0.3s ease-in-out;
}

.socialqrcodes {
  width: 200px;
  height: 220px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150px);
  /* scale: 0; */
  opacity: 0;
  pointer-events: none;

  transition: all 0.5s ease-in-out;
}

.about-socials a:hover {
  transform: translateY(-10px);
  background: rgba(146, 146, 146, 0.2);
}

.about-socials a:hover .socialqrcodes {
  transform: translate(-50%, -220px);
  opacity: 1;
}

.socialqrcodes img {
  width: 100%;
  height: 100%;
}

/* End About Section */

/* Start Projects Section  */

#projects {
  background-color: #201f23;
  /* background-color: red; */
  /* height: 60vh; */
}

.prjimgs img {
  width: 100%;
  height: 390px;

  border-radius: 40px;
}

.prjlists {
  height: 350px;
  overflow-y: scroll;
}

.prjbtns {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;

  border-radius: 40px;
  padding: 10px 20px;
  background: rgba(146, 146, 146, 0.1);

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);

  /* box-shadow: 0 8px 32px 0 rgba(146, 146, 146, 0.1); */

  position: relative;

  transition: all 0.3s ease-in-out;
}

.prjbtns:hover {
  /* color: #ffffff99; */
  color: #fff;
  background: rgba(146, 146, 146, 0.2);
  letter-spacing: 2px;
}

.prjsticks {
  background-color: #fff;
  width: 30px;
  height: 1px;
  border-radius: 40px;

  position: absolute;
  top: 50%;
  right: 20px;
  /* transform: translateY(-50%); */

  transition: all 0.3s ease-in-out;
}

.prjsticks:nth-of-type(1) {
  transform: translateY(-10px);
  /* transform: translateY(0px); */
}

.prjsticks:nth-of-type(2) {
  transform: translateY(0px);
}

.prjsticks:nth-of-type(3) {
  transform: translateY(10px);
  /* transform: translateY(0px); */
}

.prjbtns:hover .prjsticks:nth-of-type(1) {
  transform: translateY(0) rotate(45deg) scaleX(0.6);
  transform-origin: right;
}

.prjbtns:hover .prjsticks:nth-of-type(2) {
  transform: translateY(0px) scaleX(1.4);
  transform-origin: right;
}

.prjbtns:hover .prjsticks:nth-of-type(3) {
  transform: translateY(0px) rotate(-45deg) scaleX(0.6);
  transform-origin: right;
}

/* End Projects Section  */
